[Unit]
Description=Configure Ipsilon client
After=ipa-client-enroll.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ipsilon-client-configure
RemainAfterExit=true
