[Unit]
Description=Setup backend IP address, SSSD InfoPipe, and default Apache config
After=ipa-client-enroll.service ipsilon-client-configure.service
Before=populate-data-volume.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/www-setup-apache
RemainAfterExit=true
